* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 36, 41) !important;
  font-family: 'Inter custom', sans-serif;
  font-size: 62.5%;
}

body {
}
